body {
    min-height: 100vh;
}
.bg-blue-color {
    background: rgba(47, 103, 249, 0.83);
}
.bg-white {
    background: rgba(255, 255, 255, 0.849);
}
input {
    border: 2px solid #ffffff;
}
.profile-logo {
    height: 702px;
    width: 461px;
    left: -1951px;
    top: 619px;
    border-radius: 4px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.label {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
}
.links {
    width: 209px;
    height: 39px;
    background: #ffffff;
    border-radius: 16px;
}

.header {
    position: absolute;
    width: 461px;
    height: 203px;

    border-radius: 4px;
}
.row {
    width: 100% !important;
}
body {
    display: flex;
    justify-content: center;
}
/* .row {
    width: 480px;
    display: inline;
} */
/* Create four equal columns that floats next to each other */

/* On screens that are 992px wide or less, go from four columns to two columns */
/* @media screen and (max-width: 992px) {
    .row {
        width: 100%;

    }
    .btn {
        cursor: pointer;
        width: 300px;
        height: 100px;
        text-align: center;
        font-size: 40px;
    }
    .fresh {
        font-size: 40px;
    }

    .v19_82 {
        width: 100% !important;
    }

    .v19_82 > img {
        width: 100%;
    }
    .form-control {
        font-size: 3rem !important;
    }

    .mobile-text {
        font-size: 40px !important;
    }

    .dropdown-item {
        font-size: 3rem;
    }
}

On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other
@media screen and (max-width: 600px) {
    .row {
        width: 100vw;
        display: inline;
    }
    .btn {
        cursor: pointer;
        width: 300px;
        height: 100px;
        text-align: center;
        font-size: 40px;
    }

    .fresh {
        font-size: 40px;
    }

    .v19_82 {
        width: 100% !important;
    }

    .form-control {
        font-size: 3rem !important;
    }
    .mobile-text {
        font-size: 40px !important;
    }
}
*/
.bg-blue {
    background: url("../images/bg2.jpeg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.div {
    display: flex;
    max-width: 461px;
    height: 173px;
    width: 461px;
    border-radius: 4px;
    background-color: rgba(47, 103, 249, 0.8299999833106995);
    justify-content: space-evenly;
    background-image: url("../images/bg2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.div2 {
    display: flex;
    max-width: 461px;
    height: 602px;
    width: 461px;
    background-color: rgba(255, 255, 255, 1);
}

.upload {
    width: 30px;
    height: 30px;
    max-width: 30.064462661743164px;

    margin-right: 10px;
}

.image {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.image-sizer {
    width: 100%;
    padding-top: 89.28571768439106%;
    pointer-events: none;
    font-size: 0;
}

.file-upload-section {
    display: flex;
    justify-content: center;
    max-width: 335px;
    height: 62px;
    width: 335px;
    border-color: rgba(47, 103, 249, 1);
    border-width: 3px;
    border-style: solid;
    background-color: rgba(248, 40, 40, 0);
    margin-top: 30%;
}

.download-text {
    color: rgba(248, 40, 40, 1);
    min-width: 80%;
    font-family: "Tangerine", serif;
    font-size: 28px;
    text-shadow: 4px 4px 4px #aaa;
    font-weight: 700;
}

.file-upload-section > div {
    position: relative;
    margin-top: 15px;
}

.settings {
    position: absolute;
    width: 377px;
    height: 90px;
    background: #2f67f9;
    border-radius: 19px;
    margin-top: 30%;
    display: flex;
    justify-content: space-around;
}

.icons {
    max-height: 70px;
}

.settings > .icons {
    color: #ffffff;
    margin-top: 5px;
}
.share-flie-bg {
    display: flex;
    max-width: 362px;
    height: 125px;
    width: 362px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 5%;
}
.share-file-label {
    color: rgba(248, 40, 40, 1);
    font-size: 32px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Roboto, sans-serif;
    margin-top: 10%;
    width: 400px;
}

.btn {
    cursor: pointer;
}
.input-bd-red {
    border: solid red 3px !important;
    border-bottom: red 3px !important;
}
.input-bd-blue {
    border: solid rgba(47, 103, 249, 1) 3px !important;
    border-bottom: rgba(47, 103, 249, 1) 3px !important;
}

.mini-search {
    display: flex;
    max-width: 180px;
    height: 30px;
    width: 180px;
    border-radius: 14px;
    background-color: rgba(47, 103, 249, 1);
}

.plain-section {
    display: flex;
    max-width: 461px;
    height: 81px;
    width: 461px;
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid blue;
}
.curve-option {
    display: flex;
    max-width: 309px;
    height: 50px;
    width: 309px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);
}
.form-control {
    background: transparent !important;
    border-bottom: solid 2px black !important;
}
.control-label {
    color: white !important;
}

.file-cabinet-img {
    display: flex;
    position: relative;
    min-width: 100%;
    min-height: 20px;
    max-width: 223px;
    height: 200px;
}
.image-file-cabinet {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 60%;
    width: 70%;
}

.rows {
    display: flex;
}
.min-text {
    color: white;
    font-family: "Roboto";
    font-style: normal;
}
.icon-images {
    height: 80px;
    width: 50px;
}
.thank-you-for-registering-a-me {
    max-width: 300px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Roboto, sans-serif;
}

table,
th,
td {
    border: 1px solid black;
}

.red-label {
    color: rgba(248, 40, 40, 1);
    font-size: 15px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Roboto, sans-serif;
}
.footer {
    display: flex;
    height: 113px;
    width: 100%;
    background-color: rgba(47, 103, 249, 1);
    margin-bottom: 0px;
    margin-top: 20px;
}

.white-label {
    color: white;
    font-size: 15px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Roboto, sans-serif;
}

.have-a-second-thought-about-th {
    max-width: 312px;
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    letter-spacing: 0%;
    text-align: center;
    font-family: Roboto, sans-serif;
}

.curve-option-2 {
    display: flex;
    max-width: 309px;
    height: 50px;
    width: 100%;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.browse {
    cursor: pointer;
}

/* .delivery-text {
    color: #1a9ad1;
    font-family: Lato;
    font-weight: ExtraBold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
} */

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.v19_81 {
    width: 430px;
    height: 214px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v19_82 {
    width: 430px;
    height: 227px;
    background: rgba(25, 153, 208, 0.11999999731779099);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v19_83 {
    width: 261px;
    color: rgba(255, 251, 251, 1);
    position: absolute;
    top: 349px;
    left: 84px;
    font-family: Lato;
    font-weight: Medium;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}

.v19_84 {
    width: 216px;
    height: 52px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 710px;
    left: 107px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    overflow: hidden;
}

.v19_85 {
    width: 143px;
    color: rgba(25, 153, 208, 0.11999999731779099);
    position: absolute;
    top: 722px;
    left: 143px;
    font-family: Lato;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.v19_86 {
    width: 570px;
    height: 598px;
    background: url("../images/v19_86.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 192px;
    left: 70px;
    overflow: hidden;
}

.delivery-text {
    color: #1a9ad1;
    font-family: Lato;
    font-weight: ExtraBold;
    /* font-size: 24px; */
    opacity: 1;
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.v19_81 {
    width: 100%;
    height: 30%;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v19_82 {
    width: 100%;
    height: 100%;
    background: rgba(25, 153, 208, 0.11999999731779099);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v19_83 {
    width: 261px;
    color: rgba(255, 251, 251, 1);
    position: absolute;
    top: 349px;
    left: 84px;
    font-family: Lato;
    font-weight: Medium;
    font-size: 36px;
    opacity: 1;
    text-align: center;
}

.v19_84 {
    width: 216px;
    height: 52px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 710px;
    left: 107px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
    overflow: hidden;
}

.v19_85 {
    width: 143px;
    color: rgba(25, 153, 208, 0.11999999731779099);
    position: absolute;
    top: 722px;
    left: 143px;
    font-family: Lato;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: center;
}

.v19_81 {
    width: 100%;
    height: 30%;
    background: #1a9ad1;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v19_86 {
    width: 570px;
    height: 598px;
    background: url("../images/v19_86.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 192px;
    left: 70px;
    overflow: hidden;
}

/* @media screen and (max-width: 992px) {
    .form-control {
        height: 80px !important;
    }

    .text {
        font-size: 40px !important;
    }
    .delivery-text {
        font-size: 3rem;
    }

    .v19_81 {
        width: 100%;
        height: 15%;
        background: #1a9ad1;
        opacity: 1;
        position: relative;
        top: 0px;
        left: 0px;
        overflow: hidden;
    }
} */

/* @media screen and (max-width: 600px) {
    .form-control {
        height: 80px !important;
    }

    .text {
        font-size: 40px !important;
    }

    .delivery-text {
        font-size: 3rem;
    }

    .v19_81 {
        width: 100%;
        height: 15%;
        background: #1a9ad1;
        opacity: 1;
        position: relative;
        top: 0px;
        left: 0px;
        overflow: hidden;
    }
} */
